.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Wrapper */
.wrapper {
  background: rgba(1, 1, 49, 0.76);
  min-height: 100vh;
}

/* Navbar */

.nav {
  color: white;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.226);
}
.right > a {
  text-decoration: none;
  color: white;
}

.right > a:hover {
  color: red;
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

/* Hero */
.hero {
  background: #1f0c7483;
  min-height: 60vh;
}
.search-area {
  width: 60%;
  margin: 0 auto;
}

.image-box img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.movie-title {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}
.movie-detail {
  color: rgba(255, 255, 255, 0.5);
}

.movie-detail span {
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.desc {
  color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  font-size: 15px;
}
.btn-edit {
  padding: 10px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.btn-edit:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 32px rgb(24, 21, 21, 0.5);
}

/* dispaly components */

.display-wrapper {
  margin: 10px auto;
  padding: 10px 10px;
}

.moviecard-wrapper {
  background: #9693936c;
  padding: 20px;
}
.watchlist-wrapper {
  background: #9693936c;
  padding: 20px;
}
/* MovieCard */

.card-edit {
  width: 18rem;
  height: auto;
}
.card-edit img {
  height: 200px;
  object-fit: cover;
}
.cardbody-edit {
  background: #0c0c0cde;
  color: rgba(163, 161, 161, 0.904);
}
.moviecard-title {
  font-style: italic;
  color: rgba(226, 218, 218, 0.863);
  font-size: 25px;
  font-weight: bolder;
}

.year-rating span {
  background: rgba(255, 255, 255, 0.05);
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.btn-h {
  font-style: italic;
  background: transparent;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-btn-r {
  color: red;
  border: 1px solid red;
}

.card-btn-g {
  color: green;
  border: 1px solid green;
}
.btn-h:hover {
  transform: scale(1.1);
}

.light-text {
  color: rgba(218, 210, 210, 0.959);
  font-style: italic;
}

/* footer */
.footer {
  padding: 20px;
  margin: auto;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.226);
}
