/* Wrapper */
.wrapper {
  background: rgba(1, 1, 49, 0.76);
  min-height: 100vh;
}

/* Navbar */

.nav {
  color: white;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.226);
}
.right > a {
  text-decoration: none;
  color: white;
}

.right > a:hover {
  color: red;
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

/* Hero */
.hero {
  background: #1f0c7483;
  min-height: 60vh;
}
.search-area {
  width: 60%;
  margin: 0 auto;
}

.movie-title {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}
.movie-detail {
  color: rgba(255, 255, 255, 0.5);
}

.movie-detail span {
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.desc {
  color: rgba(255, 255, 255, 0.5);
  max-width: 600px;
  font-size: 15px;
}
.btn-edit {
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/* dispaly components */

.display-wrapper {
  margin: 10px auto;
  padding: 10px 10px;
  background: #9693936c;
}

/* MovieCard */

.card-edit {
  width: 18rem;
  height: auto;
}
.card-edit img {
  height: 200px;
  object-fit: cover;
}
